{% extends 'base.html.twig' %}

{% block title %}La todo list !{% endblock %}

{% block body %}
    <h1>To-do list</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
        {{ form_start(form) }}
            {{ form_row(form.name, {'attr' : {'maxlength' : 255}, 'label' : 'Task name'}) }}
        <button type="button" class="add_item_link btn btn-secondary" name="add_tag_btn" data-collection-holder-class="tags">Add a tag</button>

        <ul class="tags"
                    data-index="{{ form.tags|length > 0 ? form.tags|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">

                    {% set disabled = 0 %}
                    {% for tag in form.tags %}
                        {% if disabled<form.tags|length %}
                            <li> {{ form_row(tag.name, {'attr' : {'readonly': true}}) }}</li>
                        {% else %}
                            <li> {{ form_row(tag.name) }}</li>
                        {% endif %}
                    {% endfor %}

                </ul>
            {{ form_row(form.submit) }}
        {{ form_end(form) }}

        <div class="card">
        <div class="card-header text-center">

            {% set search = app.session.get('search',null) %}
            {{ form_start(searchBarForm) }}
                {{ form_row(searchBarForm.name) }}
                {{ form_row(searchBarForm.submit) }}
            {{ form_end(searchBarForm) }}

            <div class="card-body">
            {% set queryParam = app.request.query.all %}
            {% for tag in individualTags %}
                {# Boucle créant les tags au dessus du tableau et créé leur liens en fonction des query params déjà présents  #}
                {% if queryParam is empty %}
                    {% set filter = [tag] %}
                {% elseif tag.name not in queryParam['filter-tags'] %}
                    {% set filter = queryParam['filter-tags']|merge([tag.name]) %}

                {% elseif tag.name in queryParam['filter-tags']  %}
                    {% set filter = queryParam['filter-tags']|filter(tagName => tagName!=tag.name)%}
                {% endif %}

                <a class="btn {% if tag.name not in filter %}btn-primary{% else %}btn-secondary{% endif %} mb-1" href="{{ path('app_task',{'filter-tags': filter})}}">{{ tag }}</a>
            {% endfor %}

        <div class="row row-cols-3 text-center center">
            <div class="col border border-dark">
                Todo
                {% for task in allTasks%}
                    {% if task.status == 'Todo' %}
                        <div class="row pb-1">
                            <div class="col-1"> <a class="btn btn-danger" href="{{ path('app_delete_task', { 'id': task.id}) }}"> x </a></div>
                            <div class="col-9 card bg-danger pb-2">
                                <strong>{{ task.name }}</strong>
                                <div class="row gap-1 px-1">
                                    <div class="bg-info rounded">
                                        {% for tagName in task.tags %}
                                            <a class=" col-auto btn bg-white mb-1">{{ tagName }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-1"> <a class="btn btn-secondary" href="{{ path('app_edit_task', { 'id': task.id}) }}"> ... </a> </div>
                            <div class="col-1"> <a class="btn btn-secondary" href="{{ path('app_move_task', { 'id': task.id , "transition": 'moveToDoing'}) }}" > > </a></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col border border-dark">
                Doing
                {% for task in allTasks%}
                    {% if task.status == 'Doing' %}
                        <div class="row pb-1">
                            <div class="col-1"> <a class="btn btn-secondary" href="{{ path('app_move_task', { 'id': task.id , "transition": 'moveToToDo'}) }}" > < </a></div>
                            <div class="col-9 card bg-primary">
                                <strong>{{ task.name }}</strong>
                                <div class="row gap-1 px-1 pb-2">
                                    <div class="bg-info rounded">
                                    {% for tagName in task.tags %}
                                        <a class=" col-auto btn bg-white mb-1">{{ tagName }}</a>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-1"> <a class="btn btn-secondary" href="{{ path('app_edit_task', { 'id': task.id}) }}"> ... </a> </div>
                            <div class="col-1"> <a class="btn btn-secondary" href="{{ path('app_move_task', { 'id': task.id , "transition": 'moveToDone'}) }}" > > </a></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col border border-dark">
                Done
                {% for task in allTasks%}
                    {% if task.status == 'Done' %}
                        <div class="row pb-1">
                            <div class="col-1"> <a class="btn btn-secondary" href="{{ path('app_move_task', { 'id': task.id , "transition": 'moveToDoing'}) }}"> < </a></div>
                            <div class="col-9 card bg-success">
                                <strong>{{ task.name }}</strong>
                                <div class="row gap-1 px-1 pb-2">
                                    <div class="    bg-info rounded">
                                        {% for tagName in task.tags %}
                                            <a class=" col-auto btn bg-white mb-1">{{ tagName }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-1"> <a class="btn btn-secondary" href="{{ path('app_edit_task', { 'id': task.id}) }}"> ... </a> </div>
                            <div class="col-1"> <a class="btn btn-danger" href="{{ path('app_delete_task', { 'id': task.id}) }}"> x </a></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
        </div>
        </div>
    {% else %}
        <h2>Veuillez vous connecter pour visualiser vos tâches</h2>
    {% endif %}


    <script>
        const addTagFormDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.classList.add('btn');
            removeFormButton.classList.add('btn-secondary');
            removeFormButton.innerText = 'Delete this tag';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                item.remove();
            });
        }
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
            addTagFormDeleteLink(item);
        };
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });

        document
            .querySelectorAll('ul.tags li')
            .forEach((tag) => {
                addTagFormDeleteLink(tag)
            })
    </script>
{% endblock %}
