<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <nav class="navbar bg-danger">
        <a class="btn btn-primary m-2" href="{{ path("app_task") }}">Your to-do list </a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-primary m-2" href="{{ path("app_logout") }}">Logout</a>
        {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
            <a class="btn btn-primary m-2" href="{{ path("app_sign_up") }}">Sign up</a>
            <a class="btn btn-primary m-2" href="{{ path("app_login") }}">Login</a>
        {% endif %}
    </nav>
    <div class="m-2">
        {% block body %}
        {% endblock %}
    </div>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
