{% extends 'base.html.twig' %}

{% block title %}Hello SignUpController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Vous pouvez vous inscrire ici ! ✅</h1>
        {{ form_start(form) }}
        {{ form_row(form.email,{
            label: 'Email : '
        }) }}
        {{ form_row(form.plainPassword, {
            label: 'Password : '
        }) }}
        {{ form_row(form.agreeTerms, {
            label: 'Accepte ma merde ! '
        }) }}

        <button type="submit" class="btn">Inscription</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
